<div class="container-fluid" >
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="font-family:Lora,'Times New Roman',serif;background-color:#4cb1ca;font-size:19px;color:#fff;">

    	<h1>New Order</h1><br>
        <legend> Please Enter Your Details</legend><br>

        <%= render 'form' %>
        <%= link_to 'Back', store_path %>
    </div>
</div>