<div class="container-fluid" >
    <div class="container">

    	<h1>New Order</h1><br>
        <legend> Please Enter Your Details</legend><br>

        <%= render 'form' %>
        <%= link_to 'Back', store_path %>
    </div>
</div>