#contact-map { 
     float: left;
     width:600px;
     height:450px;
}

.contact_form {
	 margin-top:50px;
	 float:right ;
	 background-color:#d5d4d4; 
	 width:360px; 
	 height:480px;
	 border: 2px solid #B5A2A2;
	 border-radius:8px;
}

.address{
	margin-top:20px;
	 float:	left;
	 width:1125px;
     height:300px;
	 background-color: #D6CBCB; 		
	 border:2px solid #B5A2A2; 
	 border-radius:15px;
}