#form{
	width:50%;
	height:41%;
	margin-left: auto ;
    margin-right: auto ;
}
#adresa{
	width:50%;
	height:17%;
	margin-left: auto ;
    margin-right: auto ;
}
#new_contact label{
	color:#605F65;
}
.map{
	width:50%;
	margin-left: auto ;
    margin-right: auto ;
}