// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
}
.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}
#btn_login { 
   background-color: rgb(175, 180, 184);
   color: #fff;
 }
#notice1 { 
    margin-left: 460px;
    color: red;
    margin-top: -40px;
   }

.form-group{
       width: 500px;
    margin-left: 20px;
   }
#login_form{ 
   margin-left:50px
  }