
<div class = "container" style = "padding-top:80px;">
	<h3 class = "about_us"><b>About us</b></h3>

	<p class="parag">Book a Book is a page that gives the opportunity to buy books.<br>It is a good page for readers who want to read and learn by visiting us and buying the wanted books. </p> <br>

	<h3 class = "about_us"><b>Our site offers an easy way of buying books</b></h3><br>	

	<p class="parag"> Our customers can search in our page using Search Box placed in top right of the page.</p>

	<p class="parag">Visitors to the Book a Book Web Site after searching for the book will see the books below related with what they searched for.After that customers can select the wanted books which will appear at the purchasing page.</p>

	<p class="parag">Then the book will be located at cart. There the visitor checkout or go back.</p>
		<div class="images">
			<%= image_tag("lyp.jpg", :alt => "Search") %>
		 	<%= image_tag("select.jpg", :alt => "Select") %>
		 	<%= image_tag("ship.jpg", :alt => "Buy") %>
	 	</div>	
</div>
