
<section class="jumbotron text-center" style="height:420px; background: url('/assets/back1.jpg')">
<div class = "container-fluid">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading"  style="color:#fff; font-family: Impact, sans-serif; font-size:23px;">
            <h1>About Us</h1>
            <hr style="max-width: 120px;margin: 15px auto;border-width: 4px;border-color: #fff;">
            <span class="subheading">This is what we do.</span>
        </div>
    </div>
</div>
</section>

<div class="container-fluid">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="font-family:Lora,'Times New Roman',serif;font-size:19px;">  
                <br>   
             <div class="col-md-4">
                <h1>About</h1><br><br>

                <p>Book a Book is a page that gives the opportunity to buy books.It is a good page for readers who want to read and learn by visiting us and buying the wanted books.Our site offers an easy way of buying books.  Our customers can search in our page using Search Box placed in top right of the page.Visitors to the Book a Book Web Site after searching for the book will see the books below related with what they searched for.After that customers can select the wanted books which will appear at the purchasing page. </p>
            </div>
            <div class="col-md-4">
                <h1>Reviews</h1><br><br>

                <p>Visitors may post reviews, comments, photos, videos, and other content; send e-cards and other communications; and submit suggestions, ideas, comments, questions, or other information, so long as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights (including publicity rights), or otherwise injurious to third parties or objectionable, and does not consist of or contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of "spam" or unsolicited commercial electronic messages.</p>
            </div>
            <div class="col-md-4">
                <h1>Information</h1><br><br>
                
                <p>If you use any Book A Book Service, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. Book A Book reserves the right to refuse service, terminate accounts, remove or edit content, or cancel orders in its sole discretion.</p>
            </div>
            
        </div>
</div>
