
<section class="jumbotron text-center" style="height:420px; background: url('/assets/abouts_us.jpg')">
<div class = "container-fluid">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading"  style="color:#fff; font-family: Impact, sans-serif; font-size:23px;">
            <h1>About Us</h1>
            <hr style="max-width: 120px;margin: 15px auto;border-width: 4px;border-color: #fff;">
            <span class="subheading">This is what we do.</span>
        </div>
    </div>
</div>
</section>

<div class="container-fluid">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="font-family:Lora,'Times New Roman',serif;font-size:19px;">  
                <br>   
             <div class="col-md-4">
                <h1> <%= t('.about') %> </h1><br><br>

                <p><%= t('.para1') %> </p>
            </div>
            <div class="col-md-4">
                <h1><%= t('.re') %></h1><br><br>

                <p><%= t('.para2') %> </p>
            </div>
            <div class="col-md-4">
                <h1><%= t('.info') %></h1><br><br>
                
                <p> <%= t('.para3') %> </p>
            </div>
            
        </div>
</div>
