<section class="jumbotron text-center" style="margin-top:7%;height:420px; background: url('/assets/privacy.jpg')">
<div class = "container-fluid">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading"  style="color:#fff; font-family: Impact, sans-serif; font-size:23px;">
            <h1>Privacy Policy</h1>
            <hr style="max-width: 200px;margin: 15px auto;border-width: 4px;border-color: #fff;">
            <span class="subheading">We care about you.</span>
        </div>
    </div>
</div>
</section>

<div class="container-fluid">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="font-family:Lora,'Times New Roman',serif;font-size:19px;">  
        		<br>   
             <div class="col-md-4">
            	<h1><%= t('.pp') %> </h1><br><br>

                <p><%= t('.pp1') %> </p>
            </div>
            <div class="col-md-4">
            	<h1><%= t('.gi') %></h1><br><br>

                <p><%= t('.gi1') %> </p>
            </div>
            <div class="col-md-4">
            	<h1><%= t('.tc') %></h1><br><br>

                <p><%= t('.tc1') %></p>
            </div>
            
        </div>
</div>