<section class="show-product left-right" style = "padding-top: 100px">
	<div class="container">
	<p id="notice"><%= notice %></p>
		<div class="col-lg-4">
			<%= image_tag(@product.image_url, size: '300x300', class: 'img-responsive img-rounded') %>
		</div>
		<div class="col-lg-6">
		<p class="jumbotron-heading" style="font-size:30px"><%= @product.title %></p><br/>
		<p class="text-muted" style="font-size:25px"><%= number_to_currency(@product.price) %></p>
		
		<ul class="product-details" style="margin-top: 25px">
		<li>
			<div style="height:72px; width:100%">
				<h4>Description</h4>
				<%= strip_tags(@product.description) %>
			</div>
		</li><br/><br/>
		<li>
			<div>
				<h4>Author</h4>
				<%= @product.author %>
			</div>
			<div style="margin: -33px 0 0 400px">
				<h4>Category</h4>
			<%= @product.category %>
			</div>
		</li><br/><br/>
		<li>
			<div style="margin-top: 25px">
			    <%= button_to 'Add to Cart', line_items_path(product_id: @product), class:'btn btn-info' %>	
			</div>
			<div style="margin: -35px 0 0 400px">
				<%= button_to 'Back', store_path, class: 'btn btn-default', :method => :get%>
			</div>
		</li>
		</ul>
		</div>
	</div>
</section>